.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .gameRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
    
  }
}